# Exclude those files from the ignoring category
!*/
!*.yaml
!.gitignore

# Exclude secrets.yaml since it's a sensitive file
secrets.yaml

# Exclude log files since they are heavy
home-assistant*
home-assistant*.*

# Exclude components folder
custom_components
images
tapo_control
tts
www
zigbee2mqtt
